html {
  box-sizing: border-box;
}

.body {
  background-color: linear-gradient(#615dad #ffc8da);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.h1 {
  font-family: 'lobster', cursive;
  font-size: 2rem;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: #ffffff;
  text-align: center;
}

.container__photo {
  display: block;
  width: 100%;
  position: center;
}
.container__text {
  position: absolute;
}
.buttons {
  position: absolute;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
