.html {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-size: 100%;
  background-origin: border-box;
  padding-top: 70px;
  padding-bottom: 150px;
}

.text {
  line-height: 30px;
  align-self: center;
  margin-bottom: 35px;
}
.h1 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
}

.container {
  width: 364px;
  background-color: #283e50;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-style: sans-serif;
  font-weight: 100;
  font-stretch: extra-condensed;
  font-size: 16px;
  line-height: 1, 5rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}

.photo {
  display: block;
  width: 364px;
  position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.Butt--rules {
  background-color: #1fcca4;
  position: relative;
  padding: 18px;
  margin-bottom: 1px;
}
.Butt--play {
  background-color: #0197f6;
  position: relative;
  padding: 18px;
}

.Butt--play:hover {
  background-color: #0090e9;
}

.Butt--rules:hover {
  background-color: #1cbb96;
}
.Butt--rules,
.Butt--play {
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-weight: lighter;
}
